html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30em 30em;
  grid-template-areas:
  "banner banner banner"
  "main main main"
}


img {
  width: 100%;
}

.banner {
  grid-area: banner;
}

h2 {
  text-align: left;
  padding: .5em 1em .6em;
  grid-column: 1;
  grid-row: 1;
}

nav {
  grid-area: nav;
}

header > img {
  grid-area: img;
}

blockquote {

}
ul {
  display: flex;
}

ul > li {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

a {
  text-decoration: underline;
  color: #3783a3;
  display: flex;
}

.center {
  align-items: center;
}
