html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

@media only screen and (min-width: 62.5em) {

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20em 20em;
  grid-template-areas:
  "banner banner banner"
  "main main main"
}

.banner {
  display: grid;
  grid-area: banner;
}

.main {
  display: grid;
  grid-area: main;
}

img {
  width: 100%;
}

ul {
  display: flex;
}
a {
  text-decoration: underline;
  color: #3783a3;
  z-index: 1;
}
